<section>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center brown-text text-darken-2">St Helens Marriage Index</h1>
        <div class="row center">
          <h5 class="header col s12 light">Search the largest online database of St Helens marriages</h5>
        </div>
        <div class="row center">
          <a href="/search" class="btn-large waves-effect waves-light teal lighten-1">Search Now</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="static/images/pexels-photo-247929.jpeg" alt="Unsplashed background img 1"></div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">account_balance</i></h2>
            <h5 class="center">Direct from church records</h5>
            <p class="light center">
              All records are taken from church or library records anc collated into a single database. This allows anybody to verify a marriage that has taken place within the St Helens area.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">verified_user</i></h2>
            <h5 class="center">Verified by multiple members</h5>
            <p class="light center">
              Each record was transcribed by an enthusiastic family historian and subsequently verified by another to ensure accuracy of records.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">insert_chart</i></h2>
            <h5 class="center">229,191 records</h5>
            <p class="light center">
              All of these records have been transcribed from various sources and contain data ranging from 1536 through to 2010.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header center brown-text text-darken-2">Contact Us</h2>
          <div class="row center">
            <h5 class="header col s12 light">If you'd like to find out more about the marriage index please reach out to us</h5>
          </div>
          <div class="row center">
            <a href="/contact" class="btn-large waves-effect waves-light teal lighten-1">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/images/wood-holiday-vacation-vintage.jpg" alt="Unsplashed background img 2"></div>
  </div>
</section>
